body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #d5006d;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d5006d;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #ff4081;
}

.btn {
    background-color: #d5006d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff4081; 
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #d5006d; 
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #ff80ab; 
}

.table tbody tr:nth-child(even) {
    background-color: #f8bbd0; 
}

.table tbody tr:hover {
    background-color: #f48fb1; 
}
